.calendar-container {
  font-family: sans-serif;
}
.calendar-container button{
  margin: 0 5px;
}
.calendar-container button:hover{
  cursor: pointer;
}
.calendar-container button:focus{
  border: none;
  outline: none;
}
.rc-cal-monthly{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.rc-day{
  width: 100px;
  height: 100px;
  flex-basis: 14%;
  vertical-align: top;
  border-right: 1px solid #eaeaea;
}
.rc-day-bg{
  width: 100px;
  flex-basis: 14%;
}
.rc-event-table{
  position: relative;
  table-layout: fixed;
  width: 100%;
}

.rc-date-btn {
  display: inline-block;
}
.rc-date-btn button{
  border-radius: 0;
}

.rc-today{
  border: 1px solid black;
}

.rc-today, .rc-today-weekly{
  background-color: rgba(243, 243, 243, 0.5);
}

.day-number {
  text-align: right;
  padding: 3px;
  border-right: 1px solid #eaeaea;
}

.rc-month-row{
  position: relative;
  display: flex;
  border: 1px solid #eaeaea;
  flex-direction: column;
  justify-content: space-between;
}
.rc-month-row table{
  width: 100%;
  border-spacing: 0;
}

.rc-month-row table td{
  width: 14%;
}

.next-month-day, .prev-month-day{
  background-color: #f7f7f7;
}

.bg-grid-table{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  table-layout: fixed;
}

.rc-event{
  padding: 2px 6px;
}
.rc-event-time{
  font-size: 10px;
  font-weight: bold;
}
.rc-event-text{
  font-size: 12px;
}

.next-month-day .day-number, .prev-month-day .day-number{
  color: #afafaf;
}

.center-align-flex-row{
  display: flex;
  align-items: center;
}
.right-align-flex-row{
  display: flex;
  margin-left: auto;
}
.calendar-header{
    margin-bottom: 15px;
}
.calendar-btns{
    margin: 0 15px 0 0;
}
h2{
    margin: 0;
}
button{
    border: none;
    padding: 6px 10px;
    font-weight: bold;
    background-color: 3;
}
.monthTitle{
    font-size: 14px;
    margin-left: 15px;
}

/*weekly*/
.rc-weekly-table{
    height: 1008px;
    width: 100%;
    table-layout: fixed;
}
.rc-weekly-times{
    height: 42px;
}
.rc-weekly-table-wrapper{
    overflow-y: auto;
    border: 1px solid #eaeaea;
}
.rc-weekly-day-table{
    width: 100%;
    table-layout: fixed;
}
.rc-weekly-marker{
    height: 42px;
}
.rc-dualmarker{
    height: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #ddd;
    border-top: 1px solid #ddd;
    font-size: 1px;
}

.rc-hours-wrapper{
    position: relative;
}
.rc-weekly-hoursmarker{
    position: absolute;
    width: 100%;
}
.rc-markercell{
    height: 42px;
}
.rc-hourly-time{
    margin: 0;
    font-size: 12px;
    text-align: right;
}
.rc-day-col{
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
}
.rc-weekly-day-col{
    border-left: 1px solid #ddd;
    vertical-align: top;
}
.rc-col-eventwrapper{
    position: relative;
}
.rc-event-details-wrapper{

}

.rc-arrow-left, .rc-arrow-right{
    position: relative;
    width: 25px;
    height: 25px;
}

.rc-arrow-right{
    background: black;
}
.rc-arrow-left .arr-icon:before{
    content: "\A";
    border-style: solid;
    border-width: 4px 6px 4px 0;
    border-color: transparent #FF5722 transparent transparent;
    position: absolute;
    top: 9px;
    left: 9px;
}

.rc-arrow-right .arr-icon:before{
  content: " ";
  width: 9px; 
  height: 9px; 
  position: absolute;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}

.rc-weekly-event{
    position: absolute;
    margin: 0;
    font-size: 12px;    
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    border: 1px solid #A1DBB2;
    background-color: #e1f8e8;
    padding: 0 2px;
    box-sizing: border-box;
}
.rc-weekly-event .title{
    margin: 0;
}